# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database
server/lifesync.db
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
dist/
build/
.npm/

# OS
.DS_Store
Thumbs.db
